<!DOCTYPE html>
<html>

    <%- include('layouts/header'); -%>

<body>
	<main>
        <h1>Welcome To Hungry Panda!</h1>
        <p>If you are a restaurant owner, you can register your restaurant and manage orders and menu items through our system!</p>
		<p><a href="homePage">Click here to Sign In.</a></p>
	</main>
</body>

</html>