<!DOCTYPE html>
<html>

    <%- include('layouts/header'); -%>

<body>
	<main>
		<h2>You Have been logged out!</h2>
		<p><a href="homePage">Click here to log in again.</a></p>
	</main>
</body>

</html>