<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>
    <%- include('layouts/navigation'); -%>
    <main>
    <p id="showData"></p>
    </main>

    <button type="button" onclick="window.location.href='addMenuItem'">+ Add a Menu Item</button>
    <script src="js/viewMenu.js"></script>
    
</body>
</html>